body{
    text-align: center;
    background-color: bisque;
    font-family: monospace;
    font-size: 18px;

}

#mexicoInfo {
    display:none;
}

#disneyInfo {
    display:none;
}

#mtRainierInfo {
    display:none;
}


#firstLocation, #firstLandmark, #firstTime, #firstNote, #secondLocation, #secondLandmark, #secondTime,#secondNote, #thirdLocation, #thirdLandmark, #thirdTime, #thirdNote {
   font-size: 45px;
}

#pic {
    height: 450px;
    width: 725px;
    border-radius: 35px;
}

#pic2 {
    height: 450px;
    width: 235px;
    margin-top: 10px;
    border-radius: 35px;
}

